.root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 5px solid var(--secondary_color);
}

.header-container h1 {
  font-size: 2.2rem;
  font-weight: 300;
}

.sub-header-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.sub-header-title {
  font-size: 14px;
  font-weight: 600;
}

.sub-header-balance {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary_color);
}

.header-second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.header-second-container p {
  font-size: 18px;
  font-weight: 700;
}